@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .auth-btn {
        @apply bg-primary
        hover:bg-secondary
        text-white
        font-bold
        p-2
        rounded-lg
        cursor-pointer;
    }

    .filter-btn {
        @apply bg-primary
        hover:bg-secondary
        cursor-pointer
        text-white
        font-bold
        py-1
        px-3
        rounded-lg
        shadow-xl;
    }

    .action-btn ul.flyin {
        position: absolute;
        padding: 2rem;
        display: none;
    }

    .action-btn button:focus ul.flyin {
        display: block;
    }
}
