/* @import '_fonts.css'; */

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
@layer base {
    .article-card {
        @apply relative
        flex
        p-4
        w-full
        justify-between
        px-6;
    }

    .order-card {
        @apply relative
        flex
        p-4
        w-full
        justify-between
        px-6;
    }

    .btn-primary {
        @apply bg-primary
        hover:bg-secondary
        cursor-pointer
        text-white
        font-bold
        py-2
        px-4
        rounded-lg
        shadow-xl;
    }
    .btn-secondary {
        @apply bg-secondary
        hover:bg-primary
        cursor-pointer
        text-white
        font-bold
        py-2
        px-4
        rounded-lg
        shadow-xl;
    }

    /* .menu-sidebar-active {
        @apply border-r-4 border-r-primary font-bold;
    } */

    .fab-btn {
        @apply bg-primary hover:bg-secondary cursor-pointer p-4 rounded-full shadow-xl;
    }

    .fab-btn:hover img {
        @apply origin-center transform rotate-45;
    }
    .fab-content {
        @apply hidden bg-white  cursor-pointer rounded-md shadow-xl border-2 space-y-4 z-50 relative;
    }

    .active div {
        @apply border-r-4 border-r-primary font-bold;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;

        width: 100%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 16px;

        padding: 25px;
    }

    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }

    .slide-enter-active,
    .slide-leave-active {
        transition: transform 0.5s;
    }

    .slide-enter,
    .slide-leave-to {
        transform: translateY(-50%) translateX(100vw);
    }
}
